/* General Container for Packages Section */
.packages-container {
  background-color: #001F54;
  color: white;
  text-align: center;
  padding: 50px 20px;
  box-sizing: border-box;
  margin-top: 40px;
}

/* Heading and Subheading */
.packages-heading {
  font-size: 96px;
  font-weight: lighter;
  margin-bottom: 15px;
}

.packages-subheading {
  font-size: 15px;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

/* Cards Layout */
.packages-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

/* Individual Card */
.package-card {
  background-color: white;
  color: #001F54;
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.package-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.package-info {
  padding: 20px;
}

.package-name {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.package-rating {
  font-size: 1rem;
  margin-bottom: 10px;
}

.package-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f0c419;
}

/* Know More Button */
.know-more-button {
  margin-top: 70px;
  background-color: #C9A33E;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 1.2rem;
  font-weight: lighter;
  border-radius: 8px;
  cursor: pointer;
}

.know-more-button:hover {
  background-color: #C9A33E;
}

/* Responsive Design */
@media (max-width: 768px) {
  .packages-heading {
    font-size: 2.5rem;
  }

  .packages-subheading {
    font-size: 1rem;
  }

  .packages-cards {
    flex-direction: row-reverse;
    align-items: center;
  }

  .package-card {
    width: 90%;
  }

  .know-more-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}