.two-navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #C9A33E; /* Golden color on hover */
  }