/* Hero Section Styling */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    background-image: url('https://images.unsplash.com/photo-1465447142348-e9952c393450?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
 /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-overlay {
    width: 100%;
    height: 100vh;/* Dark overlay for better text visibility */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  /* Hero Heading Styling */
  .hero-heading {
    color: #001F54; /* Golden color */
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtle shadow for contrast */
  }
  
  /* Adjust Search Bar within Hero Section */
  .hero-overlay .search-bar {
    width: 100%; /* Adjust width of search bar */
    margin:  auto;
  }
  